* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("http://localhost:8000/images/arriere plan loging.webp");
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styles */
.login_container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Form styles */
.login-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.login-form input:focus {
    border-color: #ff6f61;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
    outline: none;
}

.login-form button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form button:hover {
    background: #e55b50;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design */
@media (max-width: 600px) {
    .login_container {
        padding: 1rem;
    }

    .login-form input,
    .login-form button {
        font-size: 1rem;
        padding: 0.8rem;
    }
}